* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: "Brush Script MT", cursive, sans-serif;
}

body {
	background-color: MediumTurquoise;
}

ul {
	list-style-type: none;
}

ol {
	list-style-type: none;
}

.text,
.header {
	text-align: center;
}

#recipes {
	display: block;
	margin: 10px;
	padding: 10px;
	background-color: Azure;
}

#empty {
	height: 200px;
}