/* Init Declerations */
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: "Brush Script MT", cursive, sans-serif;
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
}


/* Layout Declerations */

.main-container {
	background-color: #5a3206;
	width: 100%;
	height: 1000px; /* to be changed later */
	/* Layout */
	display: flex;
	flex-direction: column;
	gap: 50px;
}

header {
	background-color: #472602;
	border-bottom: 5px solid #3b1f01;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 50px;
}

main {
	width: 100%;
	display: flex;
	justify-content: space-around;
}

section {
	display: flex;
	background-color: rgb(162, 161, 161);
	flex-direction: column;
	align-items: center;
	width: 30%;
	height: 700px; 
	gap: 50px;
	border: 2px solid white;
}

/* Specific Declerations */

.title {
	color: white;
	padding: 20px;
	width: 100%;
	text-align: center;
}

a {
	font-weight: bold;
	color: black;
	padding: 10px;
	margin: 10px;
	background-color: rgb(222, 222, 222);
	border: 2px solid black;
	border-radius: 15px;
}

img {
	width: 400px;
	height: auto;
}